.card_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 28%;
    border-radius: 50px;
    overflow: hidden;
    border: $purple solid 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: $purple;

    &:hover {
        background-color: $navy;
        transform: scale(1.1);
        border-color: $navy;

        .card_picture {
            transform: scale(1.2);
            transition: all 0.4s ease-in-out;
            filter: opacity(5%);
        }

        .card_title,
        .card_description {
            visibility: visible;
            opacity: 1;
        }
    }

    @include tablet-down {
        border-radius: 30px;
    }

    @include mobile-down {
        border-radius: 20px;
        width: 40%;
    }
}

.card_picture {
    width: 100%;
}

.card_title,
.card_description {
    position: absolute;
    font-family: "Grooven";
    color: $cream;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    font-size: 20px;
}

.card_title {
    top: 30px;
}

.card_description {
   
}