@font-face {
    font-family: "Grooven";
    src: url('../../assets/font/Grooven.woff2') format('woff2'),
         url('../../assets/font/Grooven.woff') format('woff');
}

@font-face {
    font-family: "GroovenShine";
    src: url('../../assets/font/Grooven-Shine.woff2') format('woff2'),
         url('../../assets/font/Grooven-Shine.woff') format('woff');
}

@font-face {
    font-family: "GroovenLine";
    src: url('../../assets/font/Grooven-Outline.woff2') format('woff2'),
         url('../../assets/font/Grooven-Outline.woff') format('woff');
}

@font-face {
    font-family: "Boogie";
    src: url('../../assets/font/BoogieBoysRegular-L36y3.woff2') format('woff2'),
         url('../../assets/font/BoogieBoysRegular-L36y3.woff') format('woff');
}