@import "./style/layouts/body";
@import "./style/layouts/header";
@import "./style/layouts/footer";
@import "./style/layouts/skills";
@import "./style/layouts/about";
@import "./style/layouts/projets";
@import "./style/layouts/contact";

@import "./style/utils/variables";
@import "./style/utils/reset";
@import "./style/utils/mixin";

@import "./style/base/font";

@import "./style/components/card";
